body {
    min-width: 800px;
    color: #333;
    font-size: 0.9em;
    background: #75b7f5;
}
header{
  position: relative;
  width: 80%;
  height: 80px;
  margin-left: 10%;
}
main{
  margin-top: 1%;
  position: relative;
  width: 80%;
  height: 450px;
  margin-left: 10%;
}
footer{
  position: relative;
  width: 80%;
  height:10px;
  margin-left:10%;
  background: white;
}
.titulo {
 margin-left: 10%;
 color: rgb(1, 4, 19);
}
.panel0 {
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
}
.panel1 {
  background: white;
  position: relative;
  float:left;
  width: 25%;
  height: 100%;
  overflow:auto; 
}
.panel2 {
  background: white;
  position: relative;
  float:left;
  width: 48%;
  height: 100%;
  margin-left: 1%;
  overflow:auto;
}
.panel3 {
  background: white;
  position: relative;
  float:left;
  width: 25%;
  height: 100%;
  margin-left: 1%;
  overflow:auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 95%;
  position: relative;
  margin: auto;
}
thead tr {
  background: bisque;
}
th, td {
  border: 1px solid black;
  padding: 4px;
}
.col h3 {
  margin-left:10px;
}
.item-log {
  padding: 5px 10px;
}
.container {
  width: 100%;
  position: relative;
  text-align: center;
}
.box {
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 30px;
}