body {
    min-width: 1200px;
    color: #333;
    font-size: 0.9em;
    background: #75b7f5;
}
header{
  position: relative;
  width: 100%;
  height: 80px;
  margin-left: 5%;
}
main{
  margin-top: 1%;
  position: relative;
  width: 100%;
  height: 450px;
  margin-left: 5%;
}
footer{
  position: relative;
  width: 90%;
  height:10px;
  background: white;
  margin-left: 5%;
  border-radius:0px 0px 7px 7px; 
}
.titulo {
  margin-left: 5%;
 color: rgb(1, 4, 19);
}
.panel0 {
  background: white;
  position: relative;
  width: 90%;
  height: 70%;
  border-radius:7px;
}
/* Div superior*/
.panel7 {
  background:white;
  position: relative;
  width: 90%;
  height: 35%;
  border-radius:7px 7px 0px 0px; 
}
/* Memory logs */
.panel1 {
  background: white;
  position: relative;
  float:left;
  width: 30%;
  height: 50%;
  margin-top: 0.5%;
}
.panel2 {
  background: white;
  position: relative;
  float:left;
  width: 29%;;
  height: 50%;
  margin-left: 1%;
  overflow:auto;
}
/* Disk logs */
.panel3 {
  background: white;
  position: relative;
  float:left;
  width: 29%;
  height: 50%;
  height: 50%;
  margin-left: 1%;
  margin-top: 0.5%;
  overflow:auto;
}
/* Locking Table */
.panel4 {
  background: white;
  position: relative;
  float:left;
  width: 30%;
  height: 50%;
  overflow:auto;
}
/* Transaction Status  */
.panel5 {
  background: white;
  position: relative;
  float:left;
  width: 29%;
  height: 50%;
  margin-left: 1%;
  margin-top: 0.5%;
  overflow:auto;
}
/* Disk */
.panel6 {
  background: white;
  position: relative;
  float:left;
  width: 29%;
  height: 50%;
  margin-left: 1%;
  overflow:auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 95%;
  position: relative;
  margin: auto;
}
thead tr {
  background: bisque;
}
th, td {
  border: 1px solid black;
  padding: 4px;
}
.col h3 {
  margin-left:10px;
  position: relative;
}
.item-log {
  padding: 5px 10px;
}
.container {
  width: 100%;
  position: relative;
  text-align: center;
}
.box {
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}
.nome{
  margin-left:5%;
}
.status{
  margin-top: 5%;
}
.radio{
  margin-left: 20%; 
  margin-top: 5%;
}
.botton{
  background-color: #75b7f5; 
  margin-left:20%;
  margin-top: 10%;
}
.d{
  position: relative;
  float:left;
  margin-left: 10%;
}
.b{
  position: relative;
  float:left;
  margin-left: 60%;
  margin-top: 5%;
}
.scroll{
  position: relative;
  width: 100%;
  height: 75%;
  overflow:auto;
}