body {
    min-width: 1200px;
    color: #333;
    font-size: 0.9em;
    background: #f5e575;
  }

  .panel0 {
    background: white;
    position:relative;
    width: 1240px;
    height: 100px;
    left:20px;
    margin-top: 1em;
  }

  .panel1 {
    background: white;
    position:relative;
    width: 350px;
    height: 500px;
    float: left;
    left:20px;
    margin-top: 1em;
  }

  .panel2 {
    background: white;
    position:relative;
    width: 500px;
    height: 500px;
    float: left;
    left:40px;
    margin-top: 1em;
  }

  .panel3 {
    background: white;
    position:relative;
    width: 350px;
    height: 500px;
    float: left;
    left:60px;
    margin-top: 1em;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 95%;
    position: relative;
    margin: auto;
  }

  thead tr {
    background: bisque;
  }

  th, td {
    border: 1px solid black;
    padding: 4px;
  }

  .col h3 {
    margin-left:10px;
}

.item-log {
    padding: 5px 10px;
}
.box{
  padding: 5px 10px;
  
}